* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100%;
    font-family: "DM Sans";
    background-color: #191919;
}

.wrapper {
    width: 100%;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}

.button {
    transition: all ease .4s;
}

.button:hover {
    background-color: #191919;
    color: #118DA8;
}

.button:first-child:hover {
    background-color: #000000;
    color: #118DA8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/*-------------------Header----------------------------*/

.header {
    width: 100%;
    min-height: 100%;
    background-color: #191919;
    color: #fff;
}

.header__container {
    display: flex;
    padding: 26px 10px;
    align-items: center;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__list li {
    margin-right: 40px;
}

.menu__link {
    transition: all ease .3s;
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
}

.selected {
    color: #118DA8;
}

.menu__link:hover {
    color: #118DA8;
}


.header__burger {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.burger__item {
    width: 50px;
    height: 10px;
    background-color: #fff;
}



@media (max-width:650px) {
    .header__container {
        flex-direction: column;
    }
    .menu__list li {
        margin: 0px 10px;
    }
    .header__menu {
        margin-top: 15px;
    }
}

@media (max-width:340px) {
    .header__menu {
        display: none;
    }
    .header__burger {
        display: flex;
    }
    .header__container {
        flex-direction: row;
    }
}

@media (max-width:260px) {
    .header__container {
        flex-direction: column;
    }
    .header__burger {
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }
    .burger__item {
        height: 10px;
    }
}

@media (min-width:1500px) {
    .header__container {
        padding: 40px 15px;
        max-width: 1450px;
    }
    .menu__link {
        font-size: 23px;
    }
}


/*-------------------------------Main-block-------------------------------------------*/

.main-block {
    width: 100%;
    min-height: 100%;
    background-color: #191919;
    color: #FFFFFF;
}

.main__container {
    display: flex;
    padding: 40px 10px;
}

.main__img img {
    max-width: 100%;
}

.main__body {
    padding-top: 100px;
    padding-left: 100px;
}

.main__text p:first-child {
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.2px;
}

.main__text p:last-child {
    font-size: 75px;
    line-height: 88px;
    letter-spacing: 3.2px;
}

.bold {
    font-size: 80px;
    font-weight: 700;
    margin-left: 25px;
}

.decorative {
    position: relative;
}

.decorative::after {
    content: url(../img/icons/decor.png);
    position: absolute;
    top: 0;
    left: 0;
}

.main__list {
    margin-top: 90px;
}

.main__icons {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 20px;
}

.small__img {
    display: none;
}

@media (max-width:1180px) {
    .main__text p:first-child {
        font-size: 50px;
        letter-spacing: 0px;
    }
    .main__text p:last-child {
        font-size: 55px;
    }
    .bold {
        font-size: 55px;
    }
    .main__body {
        padding-left: 70px;
    }
}

@media (max-width:880px) {
    .main__container {
        flex-direction: column;
    }
    .main__img img:first-child {
        display: none;
    }
    .small__img {
        display: block;
        margin: 0 auto;
    }
    .main__body {
        padding-top: 50px;
    }
    .main__list {
        margin-top: 50px;
    }
}

@media (max-width:730px) {
    .main__body {
        padding-left: 10px;
    }
    .main__text p:first-child {
        font-size: 30px;
        letter-spacing: 0px;
    }
    .main__text p:last-child {
        font-size: 35px;
        margin-top: -40px;
        margin-bottom: -50px;
    }
    .bold {
        font-size: 35px;
    }
    .decorative::after {
        display: none;
    }
}

@media (min-width:1500px) {
    .main__container {
        max-width: 1450px;
    }
}


/*--------------------------Content-------------------------*/

.content, .episodes {
    width: 100%;
    min-height: 100%;
    padding-top: 20px;
}

.episodes {
    padding-bottom: 150px;
}

.episodes__container {
    padding-left: 10px;
    padding-right: 10px;
}

.episodes__heading {
    width: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    background-color: #191919;
}

.heading__title {
    font-size: 64px;
    line-height: 79px;
    letter-spacing: 2.88px;
    font-weight: 400;
}

.heading__btn {
    background-color: #118DA8;
    padding: 12px 15px;
    border-radius: 6px;
}

.heading__btn:hover {
    background-color: #000000;
    color: #118DA8;
}

@media (max-width:880px) {
    .episodes__heading {
        flex-direction: column;
    }
    .heading__title {
        margin-bottom: 30px;
    }
}

@media (max-width:580px) {
    .heading__title {
        font-size: 40px;
    }
}

@media (max-width: 380px) {
    .heading__title {
        font-size: 25px;
    }
}

@media (min-width:1500px) {
    .episodes__container {
        max-width: 1450px;
    }
}

.episodes__item {
    width: 100%;
    min-height: 100%;
    background-color: #000000;
    margin-top: 60px;
    padding: 40px 60px 40px 40px;
    color: #fff;
    display: flex;
    border-radius: 32px;
}

.episodes__body {
    margin-left: 50px;
}

.episodes__section {
    font-size: 18px;
    line-height: 27px;
    padding: 2px 16px;
    color: #FFFFFF;
    background-color: #191919;
    display: inline-block;
    border-radius: 6px;
}

.episodes__subtitle {
    font-size: 17px;
    line-height: 27px;  
    color: #118DA8;
    margin: 48px 0 18px 0;
}

.episodes__title {
    font-size: 48px;
    letter-spacing: 1px;
    color: #FFFFFF;
    line-height: 70px;
}

.episodes__text {
    font-size: 18px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    margin: 28px 0 30px 0;    
}

.episodes__btn {
    border-radius: 6px;
    padding: 12px 15px;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background-color: #118DA8;
}

@media (max-width:1060px) {
    .episodes__item {
        flex-direction: column;
        text-align: center;
    }
    .episodes__body {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 30px;
    }
}

@media (max-width:700px) {
    .episodes__title {
        font-size: 35px;
        line-height: 50px;
    }
    .episodes__text {
        font-size: 20px;
    }
    .episodes__body {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width:480px) {
    .episodes__img img {
        max-width: 100%;
    }
    .episodes__body {
        padding: 0;
    }
    .episodes__title {
        font-size: 20px;
        line-height: 30px;
    }
    .episodes__text {
        font-size: 18px;
    }
    .episodes__btn {
        padding: 4px;
        font-size: 18px;
    }
}

@media (max-width:350px) {
    
}


/*-----------------------------Host-------------------------------------------------*/

.host {
    width: 100%;
    min-height: 100%;
}

.host__container {
    padding: 100px 10px;
    display: flex;
}

.host__btn {
    background-color: #118DA8;
    padding: 30px 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all cubic-bezier(0.68,-0.55,0.265,1.55) .5s;
}

.host__btn:hover {
    padding-left: 30px;
    border-radius: 20%;
}

.host__subtitle {
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
    margin: 20px 0 25px 0;
}

.host__title {
    font-size: 65px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
}

.host__text {
    font-size: 20px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);    
}

.host__body {
    padding: 70px 15px 50px 0;
}

.host__first-text {
    margin: 28px 0 30px 0;
}

@media (max-width:1126px) {
    .host__container {
        flex-direction: column;
        align-items: center;
        padding: 30px 10px;
    }
    .host__body {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width:660px) {
    .host__img img {
        max-width: 100%;
    }
    .host__title {
        font-size: 50px;
    }
    .host__text {
        font-size: 18px;
    }
}

@media(min-width:1500px) {
    .host__container {
        max-width: 1450px;
    }
    .host__body {
        padding-right: 70px;
    }
}

/*------------------------------Contact-----------------------------------------*/
.contact {
    width: 100%;
    min-height: 100%;
    padding: 50px 0;
}

.contact__container {
    background-color: #000000;
    display: flex;
    padding: 60px;
    border-radius: 32px;
}

.contact__subtitle {
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
}

.contact__title {
    font-size: 65px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;    
}

.contact__input {
    background-color: #191919;
    font-size: 24px;
    padding: 20px 20px;
    color: rgba(250, 255, 255, 0.7);
    border-radius: 6px;
    border: none;
    width: 100%;
}

.email__input {
    margin: 20px 0 20px 0;
}

.contact__btn {
    padding: 15px 10px;
    background-color: #118DA8;
    color: #fff;
    border-radius: 6px;
    border: none;
}

@media (max-width:1000px) {
    .contact__container {
        flex-direction: column;
    }
    .contact__title {
        font-size: 50px;
    }
    .contact__body {
        text-align: center;
        margin-bottom: 30px;
    }
    .contact__form {
        text-align: center;
    }
    .contact__btn {
        padding: 15px 40px;
        font-size: 20px;
    }
}

@media (max-width:480px) {
    .contact__title {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (min-width:1500px) {
    .contact__container {
        max-width: 1450px;
    }
}



/*-------------------Comments------------------------------------------*/


.comments {
    width: 100%;
    min-height: 100%;
}

.comments__container {
    display: grid;
    grid-template-columns: repeat(3, 390px);
    grid-template-rows: repeat(2, 320px);
    gap: 15px;
    padding: 100px 10px;
}

.comments__item {
    background-color: #000000;
    color: #fff;
    border-radius: 30px;
    padding: 30px;
}

.comments__text {
    font-size: 30px;
    line-height: 43px;
    color: #FFFFFF;
    margin: 20px 0;
}

.comments__user {
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
}


@media (max-width:1215px) {
    .comments__container {
        grid-template-columns: repeat(3, 370px);
        gap: 20px;
    }
}

@media (max-width:1180px) {
    .comments__container {
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: repeat(3, 320px);
        justify-content: center;
    }
}

@media (max-width:830px) {
    .comments__container {
        grid-template-columns: repeat(2, 350px);
    }
    .comments__text {
        font-size: 25px;
    }
    .comments__user {
        font-size: 22px;
    }
}

@media (max-width: 730px) {
    .comments__container {
        grid-template-columns: repeat(2, 300px);
    }
}

@media (max-width:650px) {
    .comments__container {
        grid-template-columns: .8fr;
    }
}

@media (max-width:400px) {
    .comments__text {
        font-size: 20px;
    }
    .comments__user {
        font-size: 18px;
    }
}

@media (min-width:1500px) {
    .comments__container {
        max-width: 1450px;
        grid-template-columns: repeat(3, 1fr);
    }
}

/*-------------------------Footer--------------------------------------*/

.footer {
    width: 100%;
    min-height: 100%;
}

.footer__container {
    padding: 150px 10px 100px 10px;
    display: flex;
}

.footer__container div {
    flex-basis: 33.333%;
}

.footer__main img:first-child {
    margin-bottom: 25px;
}


.twitter__icon {
    margin-left: 20px;
    margin-right: 15px;
}

.footer__menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
}

.footer__menu-link {
    font-size: 17px;
    line-height: 27px;
    color: #FFFFFF;
    transition: all ease .3s;
}

.footer__menu-list li {
    margin-bottom: 10px;
}

.footer__menu-link:hover {
    color: #118DA8;
}

.footer__icons {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

@media (max-width:860px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }
    .footer__menu {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (max-width:380px) {
    .footer__icons {
        width: 220px;
    }
}

@media (min-width:1500px) {
    .footer__container {
        max-width: 1450px;
    }
}